# Compiled class file
*.class

# Log file
*.log
*.iml

# BlueJ files
*.ctxt

# Special files
.classpath
.project

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#folders
.idea/
out/
src/META-INF/
/bin/
